/*General*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    background: #014568de;
    padding: 15px;
    color: white;
}
.active{
    background: #1ce8ffa6;
    color: white;
    border-radius: 25px;
}
.active span,
.active a{
    color: white;
}
.pointer{
    cursor: pointer;
}