<div class="container-fluid">
    <h1 class="h1-strong">
        Registro de noticias
    </h1>
    <div class="regresar">
        <a [routerLink]="['/dashboard-noticias']">
            Regresar
        </a>
    </div>
    <div class="col-lg-4 formularios">
        <div class="alert alert-success" *ngIf="status == 'success'">
            Registro completado correctament, <a [routerLink]="['/noticias']">
                Ver noticias!!!
            </a>
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Registro no se ha realizado.
        </div>
        <div class="container">
            <form #registerNoticiaForm="ngForm" (ngSubmit)="onSubmit(registerNoticiaForm)">
                <p>
                    <label>Titulo de la noticia</label>
                    <input type="text" name="tNoticia" #tNoticia="ngModel" [(ngModel)]="noticia.tNoticia"
                        class="form-control" required />
                    <span *ngIf="!tNoticia.valid && tNoticia.touched">
                        El titulo de la noticia es obligatorio
                    </span>
                </p>
                <p>
                    <label>Contenido de la noticia</label>
                    <textarea type="text" name="resumen" #resumen="ngModel" [(ngModel)]="noticia.resumen" class="form-control"
                        required></textarea>
                    
                    <span *ngIf="!resumen.valid && resumen.touched">
                        El contenido de la noticia es obligatorio
                    </span>
                </p>
                <input type="submit" value="{{ title }}" class="btn btn-succes"
                    [disabled]="!registerNoticiaForm.form.valid" />
            </form>
        </div>
    </div>
</div>