<div class="container-fluid">
    <div class="container">
        <div class="card">
          <img src="../../../assets/img/galery/value1.jpeg">
          <div class="card__head">Compromiso</div>
        </div>
        <div class="card">
          <img src="../../../assets/img/galery/value2.png">
          <div class="card__head">Iniciativa</div>
        </div>
        <div class="card">
          <img src="../../../assets/img/galery/value3.jpeg">
          <div class="card__head">Comunicación</div>
        </div>
        <div class="card">
          <img src="../../../assets/img/galery/value4.jpeg">
          <div class="card__head">Respeto</div>
        </div>
        <div class="card">
          <img src="../../../assets/img/galery/value5.png">
          <div class="card__head">Disponibilidad al cambio</div>
        </div>
      </div>
</div>