<app-menus></app-menus>
<div class="container-fluid">
    <div class="container tablas">
        <div class="row" *ngIf="identity.cargo == 'rrhh' || identity.role == 'admin'">
          <div class="search registro" id="search">
            <h3>Buscador de aspirantes</h3>
            <form #searchFrom="ngForm" (ngSubmit)="goSearch()" id="buscador">
                <input type="text" name="search" [(ngModel)]="searchString">
                <input type="submit" name="submit" value="Buscar" class="btn btn-dark">
            </form>
            <a [routerLink]="['/registro-de-aspirante']" class="btn btn-dark">
              Agregar Aspirante
            </a>
            </div>
            <div class="col-lg-12 aspirante">
                <table class="table table-Success table-striped table-hover">
                    <thead>
                      <tr class="cabecera">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">cedula</th>
                        <th scope="col">email</th>
                        <th scope="col">N° Contacto</th>
                        <th scope="col">cargo</th>
                        <th scope="col">campaña</th>
                        <th scope="col">fuenteReclutam</th>
                        <th scope="col">fechaEntrevist</th>
                        <th scope="col">psicologa</th>
                        <th scope="col">interaccion</th>
                        <th scope="col">observaciones</th>
                        <th scope="col">numeroLlamada</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let aspirante of aspirantes">
                      <tr>
                        <td>{{aspirante.name}}</td>
                        <td>{{aspirante.surname}} {{aspirante.surname2}}</td>
                        <td>{{aspirante.cedula}}</td>
                        <td>{{aspirante.email}}</td>
                        <td>{{aspirante.telefono}}</td>
                        <td>{{aspirante.cargo}}</td>
                        <td>{{aspirante.campana}}</td>
                        <td>{{aspirante.fuenteReclutamiento}}</td>
                        <td>{{aspirante.fechaEntrevista | date:'dd/MM/yyyy'}}</td>
                        <td>{{aspirante.psicologa}}</td>
                        <td>{{aspirante.interaccion}}</td>
                        <td>{{aspirante.observaciones}}</td>
                        <td>{{aspirante.numeroLlamada}}</td>
                       
                        <td>
                          <a [routerLink]="['/edit-aspirante', aspirante._id]">
                            Editar
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

