h1{
    padding: 50px;
}
h1 span{
    border-bottom: 1px solid #444;
}
.aspirante{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.aprobacion-ok{
    background: rgb(10, 75, 10);
    color: white;
    padding: 10px;
    text-align: center;
}
.aprobacion-no{
    background: rgb(202, 41, 16);
    color: white;
    padding: 10px;
    text-align: center;
}
.activo-ok{
    background: rgb(10, 75, 10);
    color: white;
    padding: 10px;
    text-align: center;
}
.activo-no{
    background: rgb(202, 137, 16);
    color: white;
    padding: 10px;
    text-align: center;
}