<app-menus></app-menus>
<h1><span>{{title}}</span></h1>
<div class="regresar">
  <a [routerLink]="['/oferta-laboral']">
      Regresar
  </a>
</div>
<div class="aspirante">
  <div class="col-lg-10">
    <table class="table table-Success table-striped table-hover">
      <thead>
        <tr class="cabecera">
          <th scope="col">Titulo</th>
          <th scope="col">Cargo</th>
          <th scope="col">Description</th>
          <th scope="col">Fecha de solicitud</th>
          <th scope="col">Fecha de ingreso</th>
          <th scope="col">Aprobacion</th>
          <th scope="col">Actividad</th>
        </tr>
      </thead>
      <tbody *ngFor="let ofertaLaboral of ofertaLaborals">
        <tr *ngIf="identity.role == 'admin' || identity._id == ofertaLaboral.user
        || identity.cargo == 'rrhh'">
          <td>{{ofertaLaboral.titulo}}</td>
          <td>{{ofertaLaboral.cargo}}</td>
          <td>{{ofertaLaboral.description}}</td>
          <td>{{ofertaLaboral.fechaSolicitud | date:'yyyy-MM-dd'}}</td>
          <td>{{ofertaLaboral.fechaIngreso | date:'yyyy-MM-dd'}}</td>
          <td class="aprobacion" [ngClass]="{'aprobacion-ok': ofertaLaboral.aprobacion =='Aprobada',
          'aprobacion-no': ofertaLaboral.aprobacion =='Descartada' }"
          >{{ofertaLaboral.aprobacion}}</td>
          <td
          class="activo" [ngClass]="{'activo-ok': ofertaLaboral.activo =='Activo',
          'activo-no': ofertaLaboral.activo =='Inactivo' }"
          >{{ofertaLaboral.activo}}</td>
          <td>
            <a [routerLink]="['/oferta-laboral-edit', ofertaLaboral._id]"
              *ngIf="identity.cargo == 'rrhh' || identity.role == 'admin'">
              Editar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>