<div class="container-fluid" *ngIf="identity">
    <div class="container">
        <nav>
            <ul>
                <li id="rr">
                    <a [routerLink]="['/']">Selección y reclutamiento</a>
                    <ul id="seleccion">
                        <li class="syr">
                            <a [routerLink]="['/']">Selección</a>
                        </li>
                        <li class="syr">
                            <a [routerLink]="['/reclutamiento']">Reclutamiento</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/oferta-laboral']">Solicitar<span class="sombra"> Oferta laboral</span></a>
                </li>
                <li>
                    <a [routerLink]="['/recursos-humanos']">Equipo</a>
                </li>
                <li>
                    <a [routerLink]="['/Mentius']">Home</a>
                </li>
            </ul>            
        </nav>
        <div class="row">
            <div class="col-6 sombreado">
                <h1 id="mentius">Recursos<br>
                    <span id="titulo"> <span id="blanco">Humanos</span></span></h1>
                </div>
            <div class="col-6">

             
            </div>
        </div>
    </div>
</div>