.container{
    background: url(../../../assets/img/rrhh/logoMarcaAgua.png);
    background-repeat: no-repeat;
    background-position: center;
}

#logos{
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
}
#logo{
    max-width: 350px;
}
h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 75px;
}
p{
    text-align: justify;
    font-size: 25px;
    line-height: 70px;
}
#firma{
    max-width: 350px;
}
.menu{
    background: #19476470;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 95%;
    width: 100%;
}
.regreso{
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 500ms;
}
.regreso a:hover{
    background: white;
    color: #194764;
}
.regreso a{
    color: white;
    text-decoration: none;
    padding: 15px;
}
