<app-menus></app-menus>
<div class="container-fluid"
id="cargosFondo" [ngClass]="{
    'cargosFondo-desarrollo': user.cargo == 'desarrollo',
    'cargosFondo-ti': user.cargo == 'ti',
    'cargosFondo-redes': user.cargo == 'redes',
    'cargosFondo-rrhh': user.cargo == 'rrhh',
    'cargosFondo-datos': user.cargo == 'datos'    
}"
>
<button (click)="regresar()">
    Regresar
</button>
    <div id="cargos" [ngClass]="{
        'cargos-desarrollo': user.cargo == 'desarrollo',
        'cargos-ti': user.cargo == 'ti',
        'cargos-redes': user.cargo == 'redes',
        'cargos-rrhh': user.cargo == 'rrhh',
        'cargos-datos': user.cargo == 'datos'    
    }">
        <div *ngIf="user.image" id="image_user" class="pull-left row-lg-6">
            <img src="{{ url+'get-image-user/'+ user.image }}" class="img-avatar" />
        </div>
        <div class="row-lg-6">
            <h1>{{user.name}} {{user.surname}}</h1>
            <p>{{user.cargo}}</p>
            <p>{{user.email}}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>