p{
    max-width: 700px;
}

input[type='submit']{
    margin-top:50px;
    color: black;
    transition: all 500ms;
}
input[type='submit']:hover{
    color: lightblue;
    transition: all 500ms;
    box-shadow: 1px 1px 20px 7px lightblue;
    background: black;
    transform: translate(5px, -5px);
}
.formulario{
    background: rgba(0, 0, 0, 0.555);
    color: white;
    padding: 25px;
}
.regresar a{
    font-size: 27px;
    margin-left: 15px;
    transition: all 500ms;
}

.regresar a:hover{
    background: #eee;
    padding: 15px;
    border-radius: 10px;
    transform: translate(10px, -10px);
    box-shadow: -4px 4px 9px 0px black;
}