<div class="container-fluid">
    <h1 class="h1-strong">
        Registro de aspirante
        {{fecha | date}}
    </h1>
    <div class="regresar">
        <a [routerLink]="['/reclutamiento']">
            Regresar
        </a>
    </div>
    <div class="col-lg-12 formularios">
        <div class="alert alert-success" *ngIf="status == 'success'">
            Registro completado correctament, <a [routerLink]="['/reclutamiento']">
                Ver Aspirantes!!!
            </a>
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Registro no se ha realizado.
        </div>
        <div class="container formulario">
            <form #editAspiranteForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row-lg-12">
                    <div class="col-lg-6">
                        <p>
                            <label>User</label>
                            <input type="text" name="user" class="form-control" required value="{{identity._id}}"
                                disabled="" />
                        </p>

                        <p>
                            <label>Nombre</label>
                            <input type="text" name="name" #name="ngModel" [(ngModel)]="aspirante.name"
                                class="form-control" required />
                            <span *ngIf="!name.valid && name.touched">
                                El nombre de es obligatorio
                            </span>
                        </p>
                        <p>
                            <label>Primer apellido</label>
                            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="aspirante.surname"
                                class="form-control" required>

                            <span *ngIf="!surname.valid && surname.touched">
                                El primer apellido es obligatorio
                            </span>
                        </p>
                        <p>
                            <label>Segundo apellido</label>
                            <input type="text" name="surname2" #surname2="ngModel" [(ngModel)]="aspirante.surname2"
                                class="form-control" required>

                            <span *ngIf="!surname2.valid && surname2.touched">
                                El segundo apellido es obligatorio
                            </span>
                        </p>
                        <p>
                            <label>Cedula</label>
                            <input type="text" name="cedula" #cedula="ngModel" [(ngModel)]="aspirante.cedula"
                                class="form-control" required>

                            <span *ngIf="!cedula.valid && cedula.touched">
                                La cedula es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>E-mail</label>
                            <input type="email" name="email" #email="ngModel" [(ngModel)]="aspirante.email"
                                class="form-control" required>

                            <span *ngIf="!email.valid && email.touched">
                                El e-mail es obligatorio
                            </span>
                        </p>
                        <p>
                            <label>N° Contacto</label>
                            <input type="number" name="telefono" #telefono="ngModel" [(ngModel)]="aspirante.telefono"
                                class="form-control" required>

                            <span *ngIf="!telefono.valid && telefono.touched">
                                El telefono es obligatorio
                            </span>
                        </p>
                        <p>
                            <label>Cargo</label>
                            <input type="text" name="cargo" #cargo="ngModel" [(ngModel)]="aspirante.cargo"
                                class="form-control" required>

                            <span *ngIf="!cargo.valid && cargo.touched">
                                El cargo es obligatorio
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <label>Campaña</label>
                            <input type="text" name="campana" #campana="ngModel" [(ngModel)]="aspirante.campana"
                                class="form-control" required>

                            <span *ngIf="!campana.valid && campana.touched">
                                La campaña es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Experiencia</label>
                            <input type="text" name="experiencia" #experiencia="ngModel"
                                [(ngModel)]="aspirante.experiencia" class="form-control" required>

                            <span *ngIf="!experiencia.valid && experiencia.touched">
                                La experiencia es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Fuente de reclutamiento</label>
                            <input type="text" name="fuenteReclutamiento" #fuenteReclutamiento="ngModel"
                                [(ngModel)]="aspirante.fuenteReclutamiento" class="form-control" required>

                            <span *ngIf="!fuenteReclutamiento.valid && fuenteReclutamiento.touched">
                                La fuente de reclutamiento es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Fecha de entrevista {{aspirante.fechaEntrevista | date}}</label>

                            <input type="date" name="fechaEntrevista" #fechaEntrevista="ngModel"
                                [(ngModel)]="aspirante.fechaEntrevista" class="form-control" required value="">

                            <span *ngIf="!fechaEntrevista.valid && fechaEntrevista.touched">
                                La fecha de entrevista es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Psicologa</label>
                            <input type="text" name="psicologa" #psicologa="ngModel" [(ngModel)]="aspirante.psicologa"
                                class="form-control" required>

                            <span *ngIf="!psicologa.valid && psicologa.touched">
                                La psicologa es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Interaccion</label>
                            <input type="text" name="interaccion" #interaccion="ngModel"
                                [(ngModel)]="aspirante.interaccion" class="form-control" required>

                            <span *ngIf="!interaccion.valid && interaccion.touched">
                                La interaccion es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Observaciones</label>
                            <input type="text" name="observaciones" #observaciones="ngModel"
                                [(ngModel)]="aspirante.observaciones" class="form-control" required>

                            <span *ngIf="!observaciones.valid && observaciones.touched">
                                Las observaciones es obligatoria
                            </span>
                        </p>
                        <p>
                            <label>Numero de llamada</label>
                            <input type="text" name="numeroLlamada" #numeroLlamada="ngModel"
                                [(ngModel)]="aspirante.numeroLlamada" class="form-control" required>

                            <span *ngIf="!numeroLlamada.valid && numeroLlamada.touched">
                                El numero de llamada es obligatorio
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                <input type="submit" value="{{ title }}" class="btn btn-succes"
                    [disabled]="!editAspiranteForm.form.valid" />
                </div>
            </form>
        </div>
    </div>
</div>